@import "/src/assets/scss/variable";
.public_comment {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    .comment {
        font-size: 13px;
        display: block;
        a {
            color: black;
            font-weight: 700;
            margin-right: 7px;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .comment_heart {
        width: 20px;
        margin-left: 10px;
    }
}
