.img_div {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    z-index: 0;
    .img_btn {
        width: 100%;
        height: 100%;
        .show_img {
            width: 100%;
            height: 100%;
        }
        border: 1px solid #b0d5ff;
    }
    .img_input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 80px;
        height: 80px;
    }
}
