.liked_by {
    padding: 10px;
    display: flex;
    align-items: center;
    img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
    }
    span {
        margin-left: 10px;
        font-size: 14px;
        a {
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
